
/* Resetare CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}



.profile-card {
  width: 30rem;
  height: 95%;
  max-width: calc(100vw - 10px);
  background: hsla(60, 100%, 50%, .4)
   
    
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin-top: 4.375rem;
  top: 1.25rem;
  font-family: Merriweather, 'Times New Roman', serif;
}

h1, h2{
  font-family: 'Open Sans', Arial, sans-serif;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 100%;
  margin: 0 auto;
}



.profile-image {
  margin-top: -3.75rem;
  bottom: -1.25rem;
  padding: 2.1875rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  
}

i{
  height: 5px;
}

.head, .about {
  margin-bottom: 10%;
    
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  
}

body {
  background-image: url(assets/accessible.jpg);
  background-size: cover;
  
  
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  
  
}

img {
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  width: 80%;
  border-radius: 0.625rem;
  margin-top: 3.75rem;
}

img:hover {
  transform: scaleX(1.1);
  filter: grayscale(10%);
   animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

a>i:hover {
  transform: scale(1.5);
}

.container {
  text-align: center;
  color: white;
  font-family:cursive; 
  position: absolute;
  top: 0.625rem;
  font-size: 1.5625rem;
 
}

.header{
  position: relative;
 
}

.logo{
  border: 1px solid rgb(120, 120, 120);
  
}

 .down{
  position: absolute;
   height: 1.875rem;
  bottom: -6rem;
   color: antiquewhite;
  
}

.button {
	display: inline-block;
	border: 1px solid black;
	color: black;
	border-radius: 0.625rem;
	padding-right: 0.3125rem;
	padding-left: 0.3125rem;
	margin: 0.3125rem;
	width: 6.25rem;
	font-family: 'Open Sans', sans-serif;
  top: 0.625rem;
}

.button:hover {
	border: 1px solid blue;
}

.footer{
  color: black;
}













